minimisation
 &cntrl
   imin = 1, ntmin = 2,
   maxcyc = 10000, ncyc = 4000,
   ntpr = 1000,
   ntb = 1, ig = -1,
   icfe = 1, ifsc = 1, clambda = %L%, scalpha = 0.5, scbeta = 12.0,
   logdvdl = 0,
   timask1=%TS1%,
   timask2=%TS2%,
   scmask1=%TS1%,
   scmask2=%TS2%,
   ifmbar = 1, mbar_states = ,
   mbar_lambda = ,
 /

 &ewald
 / 
