DNA: 100ps NPT MD gradually releasing restraints on solute
 &cntrl
  imin = 0, irest = 1, ntx = 5,
  ntb = 2, 
  ntt = 3, gamma_ln = 1.0,
  tempi = 300.0, temp0  = 300.0,
  pres0 = 1.0, ntp = 1, taup = 2.0,
  cut = 8,
  ntc = 2, ntf = 1,
  ntr = 1,
  nstlim = 20000, dt = %DT%,
  ntpr = 500, ntwx = 500, ntwr = 1000,
  restraint_wt = 25.0,
  restraintmask = '!(:WAT,Na+,Cl-)',
  icfe = 1, ifsc = 1, clambda = %L%,
  timask1=%TS1%
  timask2=%TS2%
  scmask1=%TS1%
  scmask2=%TS2%
  ifmbar = 1, mbar_states = %MBS%,
  mbar_lambda = %WIN%,
 /
END
